/deep/.el-dialog__header
  background-color #F3F8FF
  padding 0 0 0 20px
/deep/.el-dialog__title
  font-size 16px
  height 50px
  line-height 50px
  font-weight bold
/deep/.el-dialog__footer
  text-align center
/deep/.el-button
  min-width 90px
  height 33px
  padding 0
  line-height 33px